/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
body {
  background: rgb(194,226,239); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(194,226,239,1) 0%, rgba(140,202,226,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(194,226,239,1)), color-stop(100%,rgba(140,202,226,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(194,226,239,1) 0%,rgba(140,202,226,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(194,226,239,1) 0%,rgba(140,202,226,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(194,226,239,1) 0%,rgba(140,202,226,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(194,226,239,1) 0%,rgba(140,202,226,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2e2ef', endColorstr='#8ccae2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#title {
  margin-top: 130px;
  margin-bottom: 20px;
}

#sunset {
  border:10px solid white;
  border-radius: 10px;
}













