html {
  min-height:100%;

}
body {
  background-color: white;
  margin-bottom:40px;
}

#title {
  font-family: 'Lobster', cursive;
  margin-top: 10px;
  margin-bottom: 20px;
}

#sunset {
  border:5px solid #4D4D4D;
  border-radius: 10px;
  margin: 0 auto;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:40px;
}

