html {
  min-height:100%;
  background-color: #000000;
}

body {
  background-color: #000000;
  padding: 0;
  height: 100%;
}

.container-fluid {
  padding: 0px;
  background-color: #000000;
  vertical-align: middle;
  height: 100%;
}







#title {
  font-family: 'Lobster', cursive;
  margin-top: 10px;
  margin-bottom: 20px;
}

#map-canvas {
        height: 200px;
        width: 100%;
        margin: 0px;
        padding: 5px;
        bottom: 0px;
        display: none;
}

#sunset {
  border:5px solid #4D4D4D;
  border-radius: 10px;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  font-size: smaller;
  text-shadow: 0px 0px 7px #000000
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}

#city, #attribution {
  color: #A4A4A4;
}
