



.container-fluid {
  padding: 0px;
  background-color: #191919;
  vertical-align: middle;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  font-size: small;
  text-shadow: 0px 0px 7px #000000
}

.alignleft {
  float: left;

}
.alignright {
  float: right;
}

#attribution {
  font-family: 'Marcellus SC', serif;
  font-size: 14px;
  color: #A4A4A4;
  padding: 4px;

}

#city {
  padding: 0px;
  position:absolute;
  bottom:0px;
  width:100%;
}

#city-text {
  font-size: 30px;
  font-family: 'Lobster', cursive;
  color: #FFFFFF;
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
  mix-blend-mode: lighten;
  opacity: 0.5;
  text-shadow: 1px 1px 3px #000000;
  position:absolute;
  bottom:0px;
  width:100%;
}

#city-text a {
  color: #FFFFFF;
  text-decoration: none;
  mix-blend-mode: lighten;
}

#about-text {
  font-family: 'Marcellus SC', serif;
  color: #FFFFFF;
  mix-blend-mode: lighten;
  opacity: 0.5;
  text-shadow: 1px 1px 3px #000000;
}

#attribution-text {
  font-family: 'Marcellus SC', serif;
  font-size: 14px;
  padding-bottom: 0px;
  color: #A4A4A4;
  padding: 4px;
}

#about {
  display: none;
}



