body { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-fluid {
  padding: 0px;
  background-color: #191919;
  vertical-align: middle;
  height: 100%;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 74px;
  opacity: 0.5;
  background-color: #000000;
}

#attribution-text a {
  font-family: 'Marcellus SC', serif;
  font-size: 14px;
  position:absolute, bottom;
  bottom: 0;
  color: #FFFFFF;
  padding: 4px;
  opacity: 0.7;
  text-decoration: none;
}

#attribution-text a:hover {
  opacity: 1;
}

#city {
  padding: 0px;
  position:absolute;
  bottom:0px;
  width:100%;
}

#city-text a {
  font-size: 30px;
  font-family: 'Lobster', cursive;
  color: #FFFFFF;
  text-decoration: none;
  opacity: 0.6;
  text-shadow: 1px 1px 3px #000000;
}
#city-text a:hover, #about-text a:hover, #attribution-text:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}


#about-text a {
  font-family: 'Marcellus SC', serif;
  color: #FFFFFF;
  mix-blend-mode: lighten;
  opacity: 0.7;
  text-shadow: 1px 1px 3px #000000;
  font-size: 13px;
  z-index: 100;
}
