html {
  min-height:100%;
  background-color: #191919;
}

body {
  background-color: #191919;
  padding: 0;
  height: 100%;
}

#main {
  padding-left: 0px;
  padding-right: 0px;
}

.container-fluid {
  padding: 0px;
  background-color: #191919;
  vertical-align: middle;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  font-size: small;
  text-shadow: 0px 0px 7px #000000
}

.alignleft {
  float: left;

}
.alignright {
  float: right;
}

#city, #attribution {
  font-family: 'Marcellus SC', serif;
  font-size: 14px;
  color: #A4A4A4;
  padding: 4px;
}

#city {
  font-size: 18px;
}

// =======original============
#title {
  font-family: 'Lobster', cursive;
  margin-top: 10px;
  margin-bottom: 20px;
}

#map-canvas {
        height: 200px;
        width: 100%;
        margin: 0px;
        padding: 5px;
        bottom: 0px;
        display: none;
}

#sunset {
  border:5px solid #4D4D4D;
  border-radius: 10px;
  margin: 0 auto;
}
