.container-fluid {
  padding: 0px;
  background-color: #191919;
  vertical-align: middle;
  height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 74px;
  opacity: 0.5;
  background-color: #000000;
}

.alignleft {
  float: left;

}
.alignright {
  float: right;
}

#attribution {
  font-family: 'Marcellus SC', serif;
  font-size: 14px;
  color: #A4A4A4;
  padding: 4px;

}

#city {
  padding: 0px;
  position:absolute;
  bottom:0px;
  width:100%;
}

#city-text {
  font-size: 30px;
  font-family: 'Lobster', cursive;
  color: #FFFFFF;
  padding-top: 0px;
  // padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
  mix-blend-mode: lighten;
  opacity: 0.6;
  text-shadow: 1px 1px 3px #000000;
  position:absolute, top;
  bottom:0px;
  width:100%;
  z-index: 11;
}

#city-text a {
  color: #FFFFFF;
  text-decoration: none;
  mix-blend-mode: lighten;

}

#about-text a {
  font-family: 'Marcellus SC', serif;
  color: #FFFFFF;
  mix-blend-mode: lighten;
  opacity: 0.6;
  text-shadow: 1px 1px 3px #000000;
  font-size: 13px;
  z-index: 100;
}

#attribution-text {
  font-family: 'Marcellus SC', serif;
  font-size: 14px;
  // padding-bottom: 0px;
  position:absolute, bottom;
  bottom: 0;
  color: #A4A4A4;
  padding: 4px;
  z-index: 100;
}