<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h1 id="title">The sun is currently setting in...</h1>
      <figure>
          <img id="sunset" class="img-responsive center-block" src="<%= @photo.sunset_by_lat_lon %>">
          <figcaption><p class="text-left"><%= @photo.location.titleize %><p><p class="text-right">by <a href ="<%=@photo.photo_url%>"><%= @photo.author %></a></p></figcaption>
     </figure>
    </div>
  </div>
</div>
  